{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "env": {
    "jest": true
  },
  "rules": {
    "no-var": "error",
    "no-console": "error",
    "comma-dangle": ["error", "always-multiline"],
    "@typescript-eslint/no-empty-function": "off"
  }
}
